﻿.Divtooltip {
    position: relative;
    display: block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

/* Tooltip text */
.Divtooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    border-radius: 6px;
    /*min-width:150px;*/ 
     
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Divtooltip:hover .tooltiptext {
    visibility: visible;
}