﻿article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.skin-blue .wrapper-main, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32;
}

.mini-logo {
    height: 36px;
    margin-top: 7px;
    margin-right: 5px;
    float: left;
    display: none;
}

.wrapper-main {
    background-color: #222d32;
    height: auto;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-header {
    position: fixed;
    min-width: 100%;
    max-height: 100px;
    z-index: 1035;
}

.main-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 50px;
    min-height: 100%;
    width: 265px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    color: white;
}

.content-wrapper {
    padding-top: 50px;
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 265px;
}

.main-footer {
    background: #222d32;
    padding-top: 15px;
    padding-bottom: 15px;
    /*padding: 15px;*/
    /*color: #444;
    border-top: 1px solid #d2d6de;*/
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 265px;
    z-index: 820;
}

.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
    background: #222d32;
}

.control-sidebar-dark {
    color: #b8c7ce;
}

.control-sidebar {
    position: fixed;
    padding-top: 50px;
    z-index: 1010;
}

.control-sidebar-bg, .control-sidebar {
    top: 0px;
    right: -265px;
    width: 265px;
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
}

    .control-sidebar.control-sidebar-open,
    .control-sidebar.control-sidebar-open + .control-sidebar-bg {
        right: 0px;
    }



.main-header .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 265px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.main-header .navbar {
    background-color: #367fa9;
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0px;
    margin-left: 265px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

    .main-header .navbar .icon-navbar {
        min-height: 50px;
        min-width: 50px;
        display: block;
        padding: 12px;
    }

    .main-header .navbar .icon-navbar-left {
        float: left;
    }

    .main-header .navbar .icon-navbar-right {
        float: right;
    }

.sidebar-collapsed .main-sidebar {
    -webkit-transform: translate(-265px, 0);
    -ms-transform: translate(-265px, 0px);
    -o-transform: translate(-265px, 0);
    transform: translate(-265px, 0px);
}

.sidebar-collapsed .content-wrapper, .sidebar-collapsed .main-footer {
    margin-left: 0px;
}

@media all and (max-width: 950px) {
    .life-status-contenedor {
        overflow: auto;
    }

    .life-status-scroll {
        width: 2000px;
    }
}

@media all and (max-width: 767px) {
    .main-sidebar {
        -webkit-transform: translate(-265px, 0);
        -ms-transform: translate(-265px, 0px);
        -o-transform: translate(-265px, 0);
        transform: translate(-265px, 0px);
        padding-top: 50px;
        position: absolute;
        min-height: 100%;
    }

    .main-header .logo {
        display: none;
    }

    .main-header .navbar {
        width: 100%;
        float: none;
    }

    .main-header .navbar {
        margin: 0;
    }

    .content-wrapper {
        padding-top: 50px;
    }

    .content-wrapper, .main-footer {
        margin-left: 0px;
    }

    .control-sidebar {
        padding-top: 50px;
    }

    .sidebar-collapsed .main-sidebar {
        -webkit-transform: translate(-265px, 0);
        -ms-transform: translate(-265px, 0px);
        -o-transform: translate(-265px, 0);
        transform: translate(-265px, 0px);
        min-height: 100%;
    }

    .sidebar-collapsed .content-wrapper, .sidebar-collapsed .main-footer {
        margin-left: 0px;
    }

    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0);
        transform: translate(0px, 0px);
        width: 100%;
        position: absolute;
        min-height: 100%;
    }

    .sidebar-open .content-wrapper, .sidebar-open .main-footer {
        margin-left: 100%;
    }

    .control-sidebar.control-sidebar-open,
    .control-sidebar.control-sidebar-open + .control-sidebar-bg {
        right: 0px;
        width: 100%;
        position: absolute;
        min-height: 100%;
    }

    .control-sidebar-bg, .control-sidebar {
        position: absolute;
        min-height: 100%;
    }

    .mini-logo {
        display: block;
    }
}

@media (min-width : 321px) and (max-width : 480px) {
    .invisible-mobil {
        display: none;
    }

    .main-header .navbar .icon-navbar {
        min-height: 38px;
        min-width: 38px;
        display: block;
        padding: 12px 5px;
    }

    .row-xs-custom {
        border-bottom-width: 1px;
        border-bottom-color: black;
        border-bottom-style: solid;
    }

    .col-xs-custom {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .h4-custom {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width : 1px) and (max-width: 320px) {
    .invisible-mobil {
        display: none;
    }

    .main-header .navbar .icon-navbar {
        min-height: 35px;
        min-width: 35px;
        display: block;
        padding: 12px 4px;
    }

    .margin-small {
        padding: 0px;
    }

    .row-xs-custom {
        border-bottom-width: 1px;
        border-bottom-color: black;
        border-bottom-style: solid;
    }

    .col-xs-custom {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .h4-custom {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@keyframes girarLoader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
