﻿#StackPanel_ContainerChange_0 {
     border: 1px solid #dbdbdb;
     width:80%;
     max-width: 500px;
    /*nos posicionamos en el centro del navegador*/
    position: absolute;
	top:50%;
	left:50%;
    margin-left:-200px;   
	margin-top:-150px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px; 
}

div {
    /*border: 1px solid blue;*/
}

/*Banderita*/
#StackPanel_Change_div1_0_0 {
    padding-right:0px;
}

#ChangeFlag {
    float:right;
}

/*Logo*/
#StackPanel_Change_div2_0_0 {
    text-align:left;
    padding-left:0px;
}
#ChangeLogo {
    float:left;
    width:105px;
    height:auto;
    padding:0px;
}

/*Title*/
#StackPanel_Change_div2_0_1 {
     text-align:left;
     padding-left:0px;
}
#ChangeTitle {
    float:left;
    width: 320px;
    height:auto;
}

/*Subtitle*/
#StackPanel_Change_div3_0_0 {
    text-align:center;
}
#ChangeSubtitle {
    font: normal 20px verdana
}


/*info*/
#StackPanel_Change_div4_0_0 {
    text-align:center;   
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    margin-bottom: 5px;
}


#ChangeInfo1, #ChangeInfo2{
     font: normal 15px verdana;
}

#ChangelbPsw1, #ChangelbPsw2{
     font: normal 15px verdana;
     margin-top:10px;
}

/*Text*/
#StackPanel_Change_div5_0_1 {
    padding-right:0px;
    padding-left:0px;
    margin-top:10px;
}
#StackPanel_Change_div6_0_1 {
    padding-right:0px;
    padding-left:0px;
    margin-top:10px;
}

/*Boton*/
#StackPanel_Change_div7_0_0 {
    text-align:right;
    margin-top:30px;
    padding-right:0px;    
}

#ChangebtnAccept {
    padding-top:0px;
    padding-bottom:0px;
}

@media (max-width:465px) {
    #StackPanel_ContainerChange_0 {
        left:0%;
        margin-left:10%; 
        /*border:1px solid red;*/
    }   
    
    #StackPanel_Change_div2_0_0 {
        text-align:center;
        /*border:1px solid red;*/
    } 

     #ChangeLogo { 
        float:none;   
        width: 90%;
        height: auto;         
    }
}

