﻿

#IndexContainer {
     border: 1px solid #dbdbdb;
     width:80%;
     max-width: 550px;
    /*nos posicionamos en el centro del navegador*/
    position: absolute;
	top:50%;
	left:50%;
    margin-left:-200px;   
	margin-top:-150px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px; 
}

/*Banderita*/
#indexFlag {
    float:right;
}

/*Logo*/
#IndexDiv2 {
    text-align:center;     
}
#IndexLogo {
    width:240px;
    height:auto;
    /*border:1px solid blue;*/
}

/*Title*/
#IndexDiv3 {
    text-align:center;
}
#IndexTitle {
    font: bold 30px verdana;
}

/*Info*/
#IndexDiv4 {
    text-align:center;
}
#IndexInfo {
    font: bold 15px verdana;
}

/*Icons*/
#IndexDiv5 {
    text-align:center;
}

#Indexicon1, #Indexicon2 {
    border:1px solid #dbdbdb;
    margin:15px;
    padding:10px;
}


@media (max-width:550px) {  
    #IndexContainer {
        left:0%;
        margin-left:10%; 
        /*border:1px solid red;*/
    }    
    #IndexLogo {
        width:80%;
        height:auto;
        /*border:1px solid red;*/
    }

    #IndexContainer {
        border: 0px solid #dbdbdb;
    }
}
