﻿body {
    background-color:white;
}

/*Contenedor*/
#StackPanel_ContainerLoging_0 {
     border: 1px solid #dbdbdb;
     width:80%;
     max-width: 500px;
     height:auto;
     /*overflow:auto;*/
     /*min-height: 360px;*/
     max-height: 360px;
    /*nos posicionamos en el centro del navegador*/
    position: absolute;
    right:0;
    left: 0;
    top: 0;
    bottom:0;
    margin:auto;
	/*top:50%;
	left:50%;*/
    /*margin-left:-200px;   
	margin-top:-150px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 15px;    
}

/*Banderita*/
#LogingFlag {
    float:right;
}

/*Logo*/
#StackPanel_Loging_div1_0_0 {
    padding:0px;
}

/*#LogingLogo {    
    width: 105px;
    height: auto;
    float:left;
    margin-left:-5px;
}*/

/*titulo*/
#StackPanel_Loging_div1_0_1 {
     text-align: left;
     padding:0px;
}

#LogingTitle {    
    width: 320px;
    height: auto;
    /*margin-left:-3px;*/
}


/*primer div*/
#StackPanel_Loging_div1_0 {    
    padding-bottom:10px;
}


/*Boton*/
#StackPanel_Loging_div4_0 {
     text-align: right;
     padding-top:30px;     
}
#LogingbtnAccept {
    padding-top:0px;
    padding-bottom:0px;
}

/*labels Y text*/
/*USER*/
#StackPanel_Loging_div2_1_0 {
    padding-right:0px;
}
/*Label User*/
#StackPanel_Loging_div2_1_0_0 {
    margin-left:-25px;
    padding-left:25px;
}

/*text User*/
#StackPanel_Loging_div2_1_0_1 {
    padding-left:0px;
    padding-right:10px;
}


/*PSS*/
#StackPanel_Loging_div3_1_0 {
     padding-right:0px;
}
/*Label pss*/
#StackPanel_Loging_div3_1_0_0 {
    margin-left:-25px;
    padding-left:25px;
}

/*text pss*/
#StackPanel_Loging_div3_1_0_1 {
    padding-left:0px;
    padding-right:10px;
}

/********/
#LogingLabUser, #LogingLabPassw {
    margin-top:12px;
    float:left;
    font: normal 15px verdana;
}

#LoginTextUser, #LoginTextPassw {
    border: 1px solid #000000;
    width: calc(100%);
}


@media (max-width:1000px) {
    /*labels*/
    #StackPanel_Login_div2_0_1, #StackPanel_Loging_div3_0_1 {
        padding-left:15px;
    }

    #LogingLogo {        
        float:none;    
        margin-left:0px; 
        /*border:1px solid red;*/  
    }

    #StackPanel_Loging_div1_0_0 {
        text-align: center;
    }
    #StackPanel_Loging_div1_0_2 {
         text-align: center;
    }
  
     #StackPanel_ContainerLoging_0 {    
         /*height:500px;*/ 
        /*border:1px solid green;*/
        /*padding:0px;*/
    }   

     #LogingLabUser, #LogingLabPassw {
        margin-top:10px;
        float:left;
    }

     /**Title*/
     #StackPanel_Loging_div1_0_1 {
         text-align: center;       
    }

    #LogingTitle { 
        margin-left: 0px;
    }
}
@media (max-width: 768px) {
    #StackPanel_ContainerLoging_0 {
        max-height:480px;
    }
}
@media (max-width:550px) {     

    /*labels*/
    #StackPanel_Login_div2_0_1, #StackPanel_Loging_div3_0_1 {
        padding-left:15px;
    }

    #StackPanel_ContainerLoging_0 {
       /*left:0%;*/
       /*margin-left:10%;*/ 
       border: 0px solid #dbdbdb;
       padding:0px;
    }    
    #LogingLabUser, #LogingLabPassw {
        margin-top:10px;
        float:left;
    }
    #LogingTitle {    
        width: 90%;
        height: auto;         
    }
    #LogingLogo { 
        /*border:1px solid blue;*/
        float:none;    
        margin-left:0px;   
    }
}
