﻿/*Contenedor*/
#StackPanel_ContainerConfig_0 {
     border: 1px solid #dbdbdb;
     width:80%;
     max-width: 450px;
    /*nos posicionamos en el centro del navegador*/
    position: absolute;
	top:50%;
	left:50%;
    margin-left:-200px;   
	margin-top:-150px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 35px;
}

/*Banderita*/
#StackPanel_Config_div1_0_0 {
    padding-right:0px;
} 

#ConfigFlag {
    float:right;
}

/*Logo*/
#StackPanel_Config_div2_0_0 {
    text-align:left;
}
#ConfigLogo {
    width:160px;
    height:auto;
}

/*Title*/
#StackPanel_Config_div2_1_1_0_0 {
     text-align:center;
}
#ConfigTitle {
    font: bold 32px verdana
}

/*Subtitle*/
#StackPanel_Config_div2_1_2_0 {
    text-align:center;
}
#ConfigSubtitle {
    font: bold 15px verdana
}

#StackPanel_Config_div2_1_2_0_0 {
    margin-top:10px;
}

/*Text*/
#StackPanel_Config_div3_0 {
    margin-top:5px;
}
#StackPanel_Config_div3_0_1 {
    padding-right:0px;
}

/*Boton*/
#StackPanel_Config_div4_0 {
    margin-top:5px;
}

#StackPanel_Config_div4_0_0 {
    text-align:center;
    padding:5px;
}
#StackPanel_Config_div4_0_1 {
    text-align:center;
    padding:5px;
}

@media (max-width:465px) {
    #StackPanel_ContainerConfig_0 {
        left:0%;
        margin-left:10%; 
        /*border:1px solid red;*/
    }    
}

