﻿body {
}


.LoguinSources_ImageLogin {
    background-image: url("../image/High/IT-Help-Center-A.png");
    background-repeat:no-repeat;
    background-size:auto;
    width: 120px;
    height: 100px;
    float:left;
    margin-left:-5px;
}