﻿.mainSource_Header {
    background:#3e94ba; 
}

.mainSource_LogoMain {
    background-color:#2d83a9;
}

.mainSource_LogoMain img { 
    background-color:#2d83a9;
}

/*ESTILO VERDE*/
/*
.mainSource_Header {
    background:#00a65a;    
}

.mainSource_LogoMain {
    background-color:#008d4c;
}

.mainSource_LogoMain img { 
    background-color:#008d4c;
}
*/

/*NARANJA*/
/*.mainSource_Header {
    background:#f39c12;    
}

.mainSource_LogoMain {
    background-color:#e08e0b;
}

.mainSource_LogoMain img { 
    background-color:#e08e0b;
}*/




