.bubbleComent{
	content:"dice:";
	left: 20px;
	background: rgba(76,182,235,0.4);
	position: relative;
	-moz-border-radius:    0px 10px 10px 10px;
	-webkit-border-radius:  0px 10px 10px 10px;
	border-radius:          0px 10px 10px 10px;
	padding: 5px;
}
.bubbleComent:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid rgba(76,182,235,0.4);
	border-bottom: 10px solid transparent;
}