.title-table {
	font-size: 21px;
	color: rgb(1,184,170);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.content-table {
	padding-right: 0px;
	padding-left: 0px;
}

.g-thead {
	cursor: pointer;
	background-color: rgb(1,184,170);
	color: white;
}

.g-tbody{
	background-color:#fff;
}

.g-tbody tr:nth-child(odd) {
	background-color: rgb(230,230,230);
}

.g-thead-th {
	font-weight: normal;
	text-transform: uppercase;

	padding: 3px 10px;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.g-tbody-td {
	padding: 3px 10px;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sorting {
	background-color:rgb(1,184,170);
	color:rgb(250,70,0);
	font-weight:bold !important;
}
.asc:after {
	content:' ▲';
}

.desc:after {
	content:' ▼';
}