﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Domaininfo.aspx.cs" Inherits="ITHelpCenter.Domaininfo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

    <asp:ScriptManager ID="ScriptManager1" runat="server" AsyncPostBackTimeOut="600">
    </asp:ScriptManager>
    <script type="text/javascript">   
    </script>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
    <div class="login">
       <table border="0" cellpadding="0" cellspacing="0" class="animacion" width="100%">
            <tr>
                <td>
                </td>
                <td align="center">                    
                    <img src="image/High/leverit.png" height="120px"/>
                </td>
                <td>
                </td>
            </tr>
        </table>
      
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-color:#3366CC">
                    <tr>
                        <td class="fondologin">
                        </td>
                        <td align="center" valign="top" style="width:767px">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                       
                                            
                                            <table style="align-content:center">
                                                <tr>
                                                    <td align="center" style="height:5px">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <div style="height:30px; position:relative; border:0px;border-left:0px;border-bottom:0px;
                                                             border-top:0px;border-right:0px;text-align:center;margin-left: 70px;margin-right:70px;margin-bottom:-10px
                                                             ;margin-top:-9px" >
                                                              <asp:Label ID="lbltitle" runat="server" Text="Datos del Directorio Activo"
                                                                Width="250px" Font-Bold="True" ForeColor="#3366CC" Font-Size="Medium" 
                                                                Font-Names="Arial"></asp:Label>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <div style="height: 15px; position: relative; border: 0px; border-left: 0px; border-bottom: 0px; 
                                                             border-top: 0px; border-right: 0px; text-align: center; margin-left: 70px; 
                                                             margin-right: 70px; margin-bottom: -10px; margin-top: 20px">
                                                            <asp:Label ID="lblVersion" runat="server" Font-Names="Arial"
                                                                ForeColor="#3366CC" Font-Size="Small" Font-Bold="True">
                                                            </asp:Label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <div style="border-style: none; border-color: inherit; border-width: 0px; height: 160px; position: relative; text-align: center; margin-left: 0px; 
                                                             margin-right: 40px; margin-bottom: -10px; margin-top: 10px; top: -11px; left: 3px;">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="500px">
                                                                <tr>
                                                                    <td align="center" class="auto-style1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" class="auto-style2">
                                                                        <asp:Label ID="ASPxLabel1" runat="server" Text="Usuario:" ForeColor="#3366CC" Width="120px">
                                                                        </asp:Label>
                                                                    </td>
                                                                    <td style="width: 5px"></td>
                                                                    <td align="left">
                                                                        <asp:Label ID="lblUsuario" runat="server" Font-Bold="True" ForeColor="#3366CC" Width="300px">
                                                                        </asp:Label>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="3" style="height: 5px"></td>
                                                                </tr>
                                                                
                                                                 <tr>
                                                                    <td align="left" class="auto-style2">
                                                                        <asp:Label ID="ASPxLabel2" runat="server" Text="Dominio:" ForeColor="#3366CC" Width="120px">
                                                                        </asp:Label>
                                                                    </td>
                                                                    <td style="width: 5px"></td>
                                                                    <td align="left">
                                                                        <asp:Label ID="lblDominio" runat="server" Font-Bold="True" ForeColor="#3366CC" Width="300px">
                                                                        </asp:Label>
                                                                     </td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="3" style="height: 5px"></td>
                                                                </tr>
                                                                 <tr>
                                                                    
                                                                                <td align="left" class="auto-style2">                                                                                   

                                                                                    <asp:Label ID="ASPxLabel3" runat="server" Text="Controlador de Dominio;" ForeColor="#3366CC" Width="120px">
                                                                                    </asp:Label>
                                                                                </td>
                                                                             <td style="width: 5px"></td>
                                                                                 <td align="left">
                                                                                     <asp:Label ID="lblControladorDominio" runat="server" Font-Bold="True" ForeColor="#3366CC" Width="300px">
                                                                                     </asp:Label>
                                                                                 </td>
                                                                     
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 5px"></td>
                                                                </tr>

                                                               
                                                                 <tr>
                                                                    <td align="left" class="auto-style2">
                                                                        <asp:Label ID="ASPxLabel4" runat="server" Text="ID Dominio:" ForeColor="#3366CC" Width="120px">
                                                                        </asp:Label>
                                                                    </td>
                                                                    <td style="width: 5px"></td>
                                                                    <td align="left">
                                                                        <asp:Label ID="lblIdDominio" runat="server" Font-Bold="True" ForeColor="#3366CC" Width="300px">
                                                                        </asp:Label>
                                                                     </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" class="auto-style1"></td>
                                                                </tr>
                                                                 <tr>
                                                                    <td align="left" class="auto-style2">
                                                                        <asp:Label ID="Label1" runat="server" Text="Status:" ForeColor="#3366CC" Width="120px">
                                                                        </asp:Label>
                                                                    </td>
                                                                    <td style="width: 5px"></td>
                                                                    <td align="left">
                                                                        <asp:Label ID="lblStatus" runat="server" Font-Bold="True" ForeColor="#3366CC" Width="300px">
                                                                        </asp:Label>
                                                                     </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" style="height: 5px"></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                               
                                            </table>
                                      
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="fondologin">
                        </td>
                    </tr>
                </table>
         
      
     
    </div>
     </ContentTemplate>
    </asp:UpdatePanel>

    
               
    
    </form>
</body>
</html>
