.ContainerTemplate {
	/*background-color : #33ff90;*/
	background-color: white;
	border-top: 5px solid #00a65a;
	padding-top: 20px;
	border-radius: 3px;
	padding-left: 20px;
	box-shadow: 7px 9px 20px -2px #595c5a;
	margin: 20px 10% 20px 10%;
	min-height: 450px;
}

.ContainerCell {
	/*background-color : #336eff;*/
	background-color: white;
	border-top: 5px solid #00c0ef;
	padding-top: 20px;
	border-radius: 3px;
	padding-left: 20px;
	box-shadow: 7px 9px 20px -2px #595c5a;
	margin: 20px 10% 20px 10%;
}

.TitleGraphicsBasic {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 10px;
}


.TableTemplate th {
	background-color: #00a65a;
	color: white;
}

.TableCell th {
    background-color: #00c0ef;
    color: white;
}

.table-fixed thead {
	/*border-bottom: 3px solid #00a65a !important;*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	display: block;
	float: left;
	width: 100%;
	/*Codigo anterior*/
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.table-fixed th, .table-fixed td {
	/*Codigo anterior*/
	text-align: center;
	
}

.table-fixed tbody {
	/*height: 300px;*/
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
	display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
	float: left;
	border-bottom-width: 0;
}

.DownSpace {
	margin-bottom: 10px;
}