.RowInit { padding: 20px 10px 20px 38px; }
@media screen and (max-width: 400px) and (min-width: 0px) { .RowInit { padding: initial; margin-left: 40px; margin-top: 25px; margin-bottom: 20px; } }
@media screen and (max-width: 500px) and (min-width: 401px) { .RowInit { padding: initial; margin-left: 60px; margin-top: 25px; margin-bottom: 20px; } }
@media screen and (max-width: 700px) and (min-width: 501px) { .RowInit { margin-left: 80px; } }
@media screen and (max-width: 768px) and (min-width: 701px) { .RowInit { margin-left: 100px; margin-bottom: 20px; } }
@media screen and (max-width: 991px) and (min-width: 769px) { .RowInit { margin-left: 40px; margin-bottom: 20px; } }

.ColMain { margin-left: 25px; background-color: white; border-top: 5px solid #00c0ef; padding-top: 20px; padding-left: 10px; border-radius: 3px; padding-left: 20px; box-shadow: 7px 9px 20px 1px #595c5a; }
@media screen and (max-width: 991px) { .ColMain { margin-left: initial; margin-top: 20px; } }

.ColSecundary { margin-left: 25px; background-color: white; border-top: 5px solid #f39c12; padding-top: 20px; border-radius: 3px; padding-left: 20px; box-shadow: 7px 9px 20px 1px #595c5a; }
@media screen and (max-width: 1199px) and (min-width: 992px) { .ColSecundary { margin-left: initial; margin-top: -150px; } }
@media screen and (max-width: 991px) and (min-width: 0px) { .ColSecundary { margin-left: initial; margin-top: 20px; } }

.ColGroup { background-color: white; border-top: 5px solid #00a65a; padding-top: 20px; border-radius: 3px; padding-left: 20px; box-shadow: 7px 9px 20px 1px #595c5a; }

.Title { display: block; text-align: center; font-weight: bold; font-size: 20px; text-transform: uppercase; }

.TableGroup th { text-align: center; background-color: #00a65a; color: white; font-weight: bold; font-size: 16px; text-transform: uppercase; }
.TableGroup tr { text-align: center; }

.TableMain th { text-align: center; background-color: #00c0ef; color: white; font-weight: bold; font-size: 16px; text-transform: uppercase; }
.TableMain tr { text-align: center; }

.TableSecundary th { text-align: center; background-color: #f39c12; color: white; font-weight: bold; font-size: 16px; text-transform: uppercase; }
.TableSecundary tr { text-align: center; }

.TableCenter { margin-left: 80px; }
@media screen and (max-width: 400px) and (min-width: 0px) { .TableCenter { margin-left: 10px; } }
@media screen and (max-width: 500px) and (min-width: 401px) { .TableCenter { margin-left: 20px; } }
@media screen and (max-width: 768px) and (min-width: 701px) { .TableCenter { margin-left: 40px; } }
@media screen and (max-width: 991px) and (min-width: 769px) { .TableCenter { margin-left: 20px; } }

/*# sourceMappingURL=styleControls.css.map */
