.info-box-card {
    display: block;
    min-height: 90px;
    /*background: #fff;*/
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-content-card {
    padding: 5px 10px;
    margin-left: 100px;
    border-left: 1px solid;
}

.info-box-text-card {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number-card {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.info-box-icon-card {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 100px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    /*background: rgba(0,0,0,0.2);*/
}

.info-box-contentText-card {
    margin-bottom: 5px
}
/***************************************************************/
.boxCard {
    border: 1px solid #00a98f;
    min-height: 150px;
}

.contentCard {
    display: block;
    text-align: center;
}

.titleCard {
    text-transform: uppercase;
    font-weight: bold;
}

.valueCard {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.textCard {
}
