/*
Product Name: dhtmlxList 
Version: 5.1.0 
Edition: Standard 
License: content of this file is covered by DHTMLX Commercial or enterpri. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/*
	skin detected: dhx_web
	include extra file: skins/dhx_web.less
*/

.dhx_list {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-select: none;
}
.dhx_list_default_item,
.dhx_list_default_item_selected {
	cursor: pointer;
	background-color: #ffffff;
}
.dhx_list .dhx_list_default_item,
.dhx_list .dhx_list_default_item_selected {
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}
.dhx_list_default_item_selected {
	background-color: #85d3ff;
	color: #85d3ff;
	border-color: #85d3ff;
	background-repeat: repeat-x;
}
.dhx_list_item {
    font-family: Tahoma, Helvetica;
    font-size: 12px;
    color: #000000;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
}
.dhx_list_item textarea {
	resize: none;
	margin-top: -8px;
}
.dhx_list_item .dhx_strong {
	font-weight: bold;
	display: block;
	padding-bottom: 6px;
}
.dhx_list_default_item_selected .dhx_light {
	color: #C3C3C3;
}
.dhx_list_item .dhx_light {
	color: #919191;
}
.nospaceTemplate1 {
   padding:0;
   margin:0;

}
.secondTemplate1 {
    border-left: 1px solid #c0c0c0;
}
.dataIdTemplate1 {
    display: block;
    text-align: center;
    padding: 17px 0px 17px 0px;
}
.dataValueTemplate1 {
    display: block;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    padding: 5px 0px 5px 0px;
}
.dataDescriptionTemplate1 {
    display: block;
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.dataIdTemplate2 {
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.dataValueTemplate2 {
    display: block;
    text-align: center;
    border-left: 1px solid #c0c0c0;
    padding: 10px 0px 10px 0px;
}
.dataValueTemplate3 {
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
