.ColorTab > a {
    color: #fff;
}
.ColorTabBlack > a {
    color: #fff;
}
.hoverSelectionBar {

}

    .hoverSelectionBar:hover {
        /*color: #3c8dbc;*/
        opacity:0.7;
    }

.nav-tabs > li.ColorTabBlack.active > a {
    background-color: #222d32;
    color: #FFFFFF;
}


.ColorSelect {
    transform: scale(1);
}

.ColorSelect:hover {
 transform: scale(1.1);
}

.iconGridOption {
    /*font-size:100%;*/
}

.iconGridOption:hover {
        /*font-size: 200%;*/
    }

.ContainerNavTabControlDivScroll {
    /*overflow: inherit;*/
}

.ContainerNavTabControl {
    width: 100%
}

@media (max-width: 991px) {
    .ContainerNavTabControlDivScroll {
        overflow: auto;
    }

    .ContainerNavTabControl {
        width: 2500px
    }
  
}
