﻿body {

}

.frSDCMCaseNewContainer {
   padding-right:10px;
}

.frSDCMCaseNewContainer div {
    padding-top:5px;   
    /*border:1px solid blue;*/
}

.Modal {
    width:50%;
    border:1px solid red;
    
}