﻿.UHeader0 {
    background-color: red;
    float: left;
}

.UHeader1 {
    clear: both;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.message-case {
    /*display: inline-block;*/
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.message-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 22px;
    z-index: 999;
    width:400px;
    background: #fff;
    padding: 15px;
    border: 1px solid gray;
    /*box-shadow: -1px -1px 1px 1px rgba(0,0,0,.9);
          border-radius: 0px 0px 10px 10px;*/
}

.jmbtn {
    width: 100%;
    margin-top: 20px;           
    margin-left:10%;
    margin-right:10%;
    background: #f78a09;
}
        
.jmbtn {
    background: #f6dc9a;
    background-image: -webkit-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -moz-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -ms-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -o-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: linear-gradient(to bottom, #f6dc9a, #f2c963);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: #111111;          
    padding: 4px 5px 4px 5px;
    border: solid #a88734 1px;
    text-decoration: none;
}

.jmbtn:hover {
    background: #f6b716;
    background-image: -webkit-linear-gradient(top, #f6b716, #f2c963);
    background-image: -moz-linear-gradient(top, #f6b716, #f2c963);
    background-image: -ms-linear-gradient(top, #f6b716, #f2c963);
    background-image: -o-linear-gradient(top, #f6b716, #f2c963);
    background-image: linear-gradient(to bottom, #f6b716, #f2c963);
    text-decoration: none;
}

.vcenter {
    position: relative;
    transform: translateY(75%);
}

.vcenter2 {
    position: relative;
    transform: translateY(50%);
}
