﻿html, body {
       height:99%;
      
}
body {
      width:calc(100% - 30px); 
      /*border:1px solid red;*/  
      background:#222D32; 
     overflow-x:hidden;
}

.LogoMain {
    height:50px;
    padding:0px;  
    text-align:center;      
}

.LogoMain img {
    width:100%;    
    height:auto;  
     
}

div {
    /*border:1px solid red;*/

}


.row {
 /*border:1px solid red;*/
}

aside {
    background:#222D32;
    /*width:24.3%;
    float:left;
    height:100%;*/
}

/*#asideright_idmain {
   display:block;*/
   /*background:#f00;*/      
/*}*/

#asideleft_idmain {
   /*display:block;   
   background:#4cff00; */      
}

.HdIconRight {     
    color:rgb(236,240,245);
    float:right;
    text-align:center;
}

/*textos de los iconos del header
.icon-Text {
     margin-left:5px;
     cursor:default;
}
*//*
main {
    float:left;
    width: 75.7%;
    overflow:hidden;
    background:rgb(236,240,245);
    height:auto;
    min-height:100%;    
}*/

main {
    background:rgb(236,240,245);
    height:auto;
    min-height:100%; 
}

#imghome {
    width: calc(100% + 60px);
    height:auto;
    margin-left:-15px;
    /*width: 100%;*/
    /*max-height:calc(100% - 200px);*/ 
}

#header_idmain {
    width:calc(100% + 20px);
}

footer {      
    padding-top:0px;
    min-height:150px;     
    width:100%;
    background:#222D32;
    margin-top:-10px;  
}
footer div {    
    color:white;  
    font-weight:normal;
   
}


/*MENU*/
.NavUl {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}


/*ASIDES*/
/*Los dos aside visibles*/
.main-1 { 
 width: 51.4%;
}

/*1 aside visible*/
.main-2 {
    width: 75.7%
}

/*ningun aside visible*/
.main-3 {
    width: 100%;
}

#Cont_idmain_0 {
    /*border: 1px solid blue;*/
     background:#222D32;/*machetazo james*/
}


 