﻿.Remote_Help_Header {
     background-color: transparent;
    /*border: 1px solid green;*/ /*#c4c4c4; */
    padding-left:10px;
    /*padding-right:10px;*/
    margin-left:10px;
    margin-right:10px;
    width:auto;
    /*width:90%;*/
    float:left;
    /*min-width:40px;*/
    height: 40px;   
    margin-top:3px;  
}

.Remote_Help_Body {
    /*border: 1px solid blue;*/ 
    margin-left:20px;
    margin-right:20px;
}

.Remote_Help_Nav {     
    width:60%;
    margin-left:20%;
    margin-top:5px;
    margin-bottom:5px;
}


/*Icono que esta dentro del modulo de remotehelp*/
.divIconItem {
    display: inline;
}
.divLabItem {
    display: inline;
}

.Remote_Help_Nav .Ubutton {
     /*border: 1px solid red;*/
}

.RHButton {
    width: 90%;
    max-width: 250px;
    overflow: hidden;
}

.RHButton label {
  display: inline;
}
.RHButton image {
    display: inline;
} 

/*Botones activados*/
.btnActive {
    /*background-color: #e6e6e6;*/
    /*border-color: #adadad;*/    
    background-color: #f39c12;
    border-color: #adadad;   
}

.btnActive:hover {    
    background-color: #e08e0b;
    border-color: #adadad;   
}

.btnActive:not(:hover)  {    
   background-color: #f39c12;
    border-color: #adadad; 
}

/*Imagenes de los botones activados #e6e6e6; */ 
.ImgActive {
    background-color: #e6e6e6;
    border:1px solid #d3d3d3; 
}

/*Zona de los chek*/
.RH_checkZone {
    background-color: #0094ff;    
    border: 1px solid #fff; 
    /*position:absolute;*/
    z-index: 1;
    top:0;
    padding:0px 0px 4px 0px;
    min-width:30px;

    bottom:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.RH_checkZone checkbox{
    margin-left:-5px;
     position:absolute;
     z-index: 2; 
}

.Remote_Help_HeaderImg {
    width:auto;
    margin-left:5px;
    border-right:1px solid #e6e6e6;    
}

/*imagnes en la barra*/
.RH_imgBarTitle {
    margin-left: 15px;
    /*border: 1px solid blue;*/
}
/*Zona de textos y botones*/
.DivText {
     /*background-color: green;*/
     text-align:center;
}

/*Elemento donde va la imagne del grupo*/
.Remote_Help_HeaderGrups {
   width:40px;
   max-height:20px;     
   /*border: 1px solid red;*/
   padding:0px; 
   text-align:center;   
}
/*Elemento para imagnes agrupadas*/
.Remote_Help_HeaderGrups_Sub {
   width:40px;      
   padding:0px; 
   text-align:center;
   position:absolute;
   z-index:2000;
   top:29px;
   background-color:white;
   border: 1px solid #c4c4c4;
   display:none;   
   margin-left:15px;
   padding-bottom:5px;
}

/*Imagenes agrupadas*/
.RH_imgBarGroup {
    float:left;
    clear:both;
    margin-left:10px;
    margin-top:5px;
}

@media (max-width:400px) {
   .Remote_Help_Nav{
         width:96%;
        margin-left:1%;   
        /*background-color: grey;*/  /**/      
    }    
   .RHButton label {
      display: none;
    }
    .divIconItem {
        display: inline;
    }
    .divLabItem {
        display: none;
    }
}

@media (max-width:600px) and (min-width: 401px) {
   .Remote_Help_Nav{
        width:96%;
        margin-left:1%;  
       /*background-color: green;*/  /**/
    }  
   .RHButton image {
      display: none;
    }   
    .divIconItem {
        display: none;
    } 
}

@media (max-width:800px) and (min-width: 601px) {
   .Remote_Help_Nav{
        width:96%;
        margin-left:1%; 
        /*background-color: red;*/  /**/
    }     
}

@media (max-width:900px) and (min-width: 801px) {
   .Remote_Help_Nav{
         width:85%;
        margin-left:7.5%;  
        /*background-color: blue;*/  /**/    
    }    
}

@media (max-width:1200px) and (min-width: 901px) {
   .Remote_Help_Nav{
         width:70%;
        margin-left:15%;  
        /*background-color: yellow;*/  /**/   
    }    
}