﻿/*DESTOK*/
body {
}

.TDemoDevices_Container {
    width:100%;
    border: 1px solid blue;   
}

.TDemoDevices_div {    
    padding:10px;
    text-align:center;
}

.TDemoDevices_divC {    
   background-color:grey;
}

.TDemoDevices_Img {    
     width: auto;
     height:auto;
}

.TDemoDevices_Lab {   
    color: green;
    font-size:small;
}

.TDemoDevices_Text { 
    width: auto;
}

.TDemoDevices_btnAccept {    
    width: auto;
    height:auto;
}