td .spnTooltip {
    z-index: 10;
    display: none;
    margin-left: 120px;
    width: 300px;
    line-height: 16px;
}

td:hover .spnTooltip {
    display: inline;
    position: absolute;
}

th .columScroll {
    background: #ffffff;
    opacity: 0;
    min-height: 10px;
}

th:hover .columScroll {
    background: rgb(224, 224, 224);
    border-radius: 15px;
    opacity: 1;
    min-height:10px;
}
td .columScroll {
    background: #ffffff;
    opacity: 0;
    min-height: 10px;
}

td:hover .columScroll {
    background: rgb(224, 224, 224);
    border-radius: 15px;
    opacity: 1;
    min-height: 10px;
}


.TModalFV {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    color: rgb(158, 158, 158);
    z-index: 2147483646;
}

.TModalHeader {
}

.TModalHeaderButton {
    background-color: transparent;
    color: rgb(158, 158, 158);
    margin-right: 10px;
    margin-top: 5px;
    opacity: 0.7;
    color: rgb(158, 158, 158);
}

.TModalBody {
    padding: 10px 20px 18px 20px;
}

.ContainerULPafinationControlDivScroll {
    /*overflow: inherit;*/
}

.ContainerULPafinationControl {
    width: 100%
}

@media (max-width: 991px) {
    
    .ContainerULPafinationControlDivScroll {
        overflow: auto;
    }

    .ContainerULPafinationControl {
        width: 500px
    }
}