﻿/*TABLET*/
body {
}

.TDemoDevices_Container {
    border: 1px solid green;   
    width:700px;
    height:250px;
    overflow-y:scroll;
}

.TDemoDevices_div {    
    padding:5px;
    text-align:center;
}

.TDemoDevices_divC {    
   background-color:grey;
}

.TDemoDevices_Img {    
    width:200px;
    height:auto;
}

.TDemoDevices_Lab {    
    color: green;
     font-size:medium;
}

.TDemoDevices_Text {    
    width: 60%;
}

.TDemoDevices_btnAccept {    
    width: 100px;
    height:60px;
}