.info-box-pie {
    display: block;
    min-height: 90px;
    /*background: #fff;*/
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-top: 30px;
    border-left: 5px solid;
}

.info-box-content-pie {
    padding: 5px 10px;
}

.info-box-number-pie {
    display: block;
    font-size: 14px;
    margin-bottom: 5px
}

.info-box-text-pie {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.info-box-contentText-pie {
    margin-bottom: 5px
}
