﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frExampleFunctions.aspx.cs" Inherits="ITHelpCenter.Demo.Document.Codigos.frExampleFunctions" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../../../Scripts/js/System_Threading.js"></script>
    <script src="ExampleFuntions.js"></script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
