.FormGroup {
    background-color: white;
    border-top: 5px solid #00a65a;
    padding-top: 20px;
    border-radius: 3px;
    padding-left: 20px;
    box-shadow: 7px 9px 20px -2px #595c5a;
    margin: 20px 10% 20px 10%;
}
.FormMain {
    background-color: white;
    border-top: 5px solid #00c0ef;
    padding-top: 20px;
    border-radius: 3px;
    padding-left: 20px;
    box-shadow: 7px 9px 20px -2px #595c5a;
    margin: 20px 10% 20px 10%;
}
.FormSecundary {
    background-color: white;
    border-top: 5px solid #f39c12;
    padding-top: 20px;
    border-radius: 3px;
    padding-left: 20px;
    box-shadow: 7px 9px 20px -2px #595c5a;
    margin: 20px 10% 20px 10%;
}
.DownSpace {
    margin-bottom:20px;
}
.UpSpace {
    margin-top: 20px;
}
@media screen and (max-width: 992px) and (min-width: 0px) {
    .FormSecundary, .FormMain, .FormGroup {
        margin: 10px 8% 10px 8%;
    }
}

/*# sourceMappingURL=PanelServicesManager.css.map */
