﻿/*MOBILE*/
body {
}

.TDemoDevices_Container {
    border: 1px solid red;   
    width:150px;
    height:500px;
    overflow-y:scroll;
}

.TDemoDevices_div {    
    padding:5px;
    text-align:center;
}

.TDemoDevices_Img {    
    width:95%;
    height:auto;
}

.TDemoDevices_divC {    
   background-color:grey;
}

.TDemoDevices_Lab {    
    color: green;
    font-size:large;
}

.TDemoDevices_Text {    
    width: 95%;
    font-size:large;
}

.TDemoDevices_btnAccept {    
      width: 95%;
      height:60px;
}