﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frUSQL.aspx.cs" Inherits="ITHelpCenter.Tools.SQL.frSQL" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>   
    <link href="../../Componet/BootStrap_Source/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Componet/BootStrap_Source/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" />
    <script src="../../Scripts/jquery2-1-4min.js"></script>
    <script src="../../Componet/BootStrap_Source/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Componet/BootStrap_Source/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="../../Scripts/js/iniIndexDB.js"></script>
    <script src="../../Scripts/js/script_general.js"></script> 
    <script type="text/javascript">        
        $(document).ready(function () {
            var version = Math.random();
            var _DBHeper = new DBHelper('iniIndexDB12', 1);
            _DBHeper.Open(function (e) {
                _DBHeper.Read("SysCfg", "CompVer", version, function (e) {
                    $.getScript("../../Componet/Traslate/Traslate.js?" + e.target.result.Values, function () { });
                    $.getScript("frUSQL.js?" + e.target.result.Values, function () { });                    
                }, function (e) {
                    alert(" can´t Read iniIndexDB.js 93");
                });
            }, function (e) {
                alert(" can´t load iniIndexDB.js 94");
            });
        });
    </script>
    <link href="frUSQL.css" rel="stylesheet" />
</head>
<body>
    <%--<form id="form1" runat="server">
    <div>
    </div>
    </form>--%>
</body>
</html>
