﻿
.btn {
    width: 80%;
    margin-top: 20px;           
    margin-left:10%;
    margin-right:10%;
    background: #f78a09;
}
        
.btn {
    background: #f6dc9a;
    background-image: -webkit-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -moz-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -ms-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: -o-linear-gradient(top, #f6dc9a, #f2c963);
    background-image: linear-gradient(to bottom, #f6dc9a, #f2c963);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: #111111;          
    padding: 4px 5px 4px 5px;
    border: solid #a88734 1px;
    text-decoration: none;
}

.btn:hover {
    background: #f6b716;
    background-image: -webkit-linear-gradient(top, #f6b716, #f2c963);
    background-image: -moz-linear-gradient(top, #f6b716, #f2c963);
    background-image: -ms-linear-gradient(top, #f6b716, #f2c963);
    background-image: -o-linear-gradient(top, #f6b716, #f2c963);
    background-image: linear-gradient(to bottom, #f6b716, #f2c963);
    text-decoration: none;
}