﻿/*Inico del estilo tab*/
body {
  font-family: sans-serif;
}
.wrapper {
  background: white;
  margin: auto;
  padding: 0px;
  width: 100%;
}
h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: gray;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
article {
  border-top: gray solid 1px;
  padding: 0 1em;
}
/*fin del estilo tab*/

.SearchCI{
    float: left;
    width: 40%;
}
.CIEditor{
    float: right;
    width: 60%;
    font-family:Arial;
    font-size: 12px;
}

.gridSearchCI {
    font-family:Arial;
    font-size: 12px;
    border-collapse: collapse;
    /*border-spacing: 0;
    border: 1px solid black;*/
}

/*#gridSearchCI thead { display: inline-block; }
#gridSearchCI tbody { display: inline-block; }*/


.gridSearchCI thead tr {
    background-color:GrayText;
    color:white;
}

.gridSearchCI thead th {
    padding: 7px;
    border: 1px solid #000;
}

.gridSearchCI tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.gridSearchCI tbody tr {
    cursor:pointer;
}
.gridSearchCI tbody tr:hover {
    background-color:gray;

}

.gridSearchCI tbody tr:focus {
    background-color:gray;
}

.gridSearchCI tbody td {
    padding: 3px 7px 3px 7px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

/*#gridSearchCI tbody tr:last-child {
    border-bottom: 1px solid #000;
}*/

.rowSelect {
    background-color:gray;
    color: white;
}

.rowNoSelect {
    background-color:white;
    color: black;
}



/*tabla dianmica estilos*/
.GridFieldStyle {
    font-family:Arial;
    font-size: 12px;
    border-collapse: collapse;
}

.GridFieldStyle tbody tr {
    cursor:pointer;
}
.GridFieldStyle tbody tr:hover {
    background-color:gray;

}

.GridFieldStyle tbody tr:focus {
    background-color:gray;
}

.GridFieldStyle tbody td {
    padding: 2px 3px 2px 3px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.GridFieldStyle thead tr {
    background-color:GrayText;
    color:white;
}

.GridFieldStyle thead th {
    padding: 3px;
    border: 1px solid #000;
}

.GridFieldStyle tbody tr:last-child {
    border-bottom: 1px solid #000;
}
/*fin de tabla dinamica estilos*/

/*estilos para el modal*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 1000px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    height:600px;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
/*fin estilos modal*/