.treemap .node {
    font-size: 250%;
    border: 1px solid white;
    line-height: 150%;
    overflow: hidden;
    position: absolute;
    text-indent: 1%;
    transition: background 1s;
    transition: color 0.5s;
    font-size: 1em;
    color: white;
}

.treemap .nodeHighlight {
    font-size: 250%;
    line-height: 150%;
    border: 1px solid white;
    overflow: hidden;
    position: absolute;
    text-indent: 1%;
    transition: background 1s;
    transition: color 0.5s;
    font-size: 1em;
}
