.PS-container-fluid{
    padding-right: 2px;
    padding-left: 2px;
}

.PS-resize{
    width: 100%;
}

.PS-wrapper-h {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.PS-list {
    position: relative;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-left: 0px;
    margin-top: 0px;
    border-bottom: 0px;
    bottom: 0px;
}

.PS-scroller {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.PS-scroller img {
    position: relative;
    top: 43%;
    transform: translate(0%,-50%);
}

.PS-scroller-right {
    float: right;
}

.PS-scroller-left {
    float: left;
}

.PS-info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background-position: center center;
    background-size: cover;
    margin-right: 15px;
    cursor: pointer;
}

.PS-info-box-text {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.PS-info-box-title {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.PS-init {
    border-radius: 2.5px;
    margin-top: -3px;
    border-style: solid;
    border-width: 1px;
}

.PS-element {
    margin-top: 4px
}

.PS-col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

img.PS-icon-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

span.PS-icon-title {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    height: 45.5px;
}

.PS-icon-title {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.PS-element-description {
    padding-top: 30px;
    text-align: justify;
    font-size: 16px;
}

.PS-tab-panel{
    padding-bottom: 25px;
}

