﻿.main-vertical {
    display: flex;
}

.container-v{
    position:relative;
    min-width: 150px;
    max-width: 150px;
    margin-top: 20px;
    right: -3px;
}


.wrapper-v {
    position: relative;
    margin: 0 auto;
    overflow-y: hidden;
    height: 450px;
    min-height: 450px;
    top: -10px
}

.list-v {
    position: absolute;
    left: 1px;
    top: 0px;
    min-height: 3000px;
    margin-left: 0px;
    margin-top: 0px;
    border-right: 0px;
    right: 0px;
}

.scroller-v {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.scroller-v img {
    position: relative;
    left: 48%;
    transform: translate(-50%,0%);
}

.list-v > li {
    float: none;
    right: 0px;
    /* agregado height*/
    height: 127px;
}

.list-v > li > a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    /* agregado height*/
    height: 127px;
}


.init-v {
    width: 100%;
    border-radius: 2.5px;
    border-style: solid;
    border-width: 1px;
}

.tab-pane-v {
    margin-top: 10px;
    min-height: 500px;
}

img.icon-img-v {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

span.icon-title-v {
    display: block;
    text-align: center;
    text-decoration: none;
    /*color: black;*/
    font-weight: bold;
    font-size: 11px;
    /*agregago*/
    height: 45.5px;
}

.info-box-icon-v {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background-position: center center;
    background-size: cover;
    margin-right: 15px;
    cursor: pointer;
}

.info-box-text-v {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.info-box-title-v {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.element-v {
    margin-top: 10px
}

.col-center-v {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
