.title-funnel {
	font-size: 21px;
	color: rgb(1,184,170);
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.line-content {
	text-align: center;
	color: white;
	margin: 0.3em auto;
	height: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container-text div {
	text-align:left;
	color:black;
	margin: 0.3em auto;
	height:30px;
	display:flex;
	/* justify-content:center; */
	/* flex-direction:column; */
}

.init-interval {
	position: absolute;
	font-size: 11px;
	color: black;
	left: 50%;
	transform: translate(-50%,-50%);
}

.final-interval {
	position: absolute;
	font-size: 11px;
	color: black;
	left: 50%;
	transform: translate(-50%,100%);
}

.init-img {
	width: 100%;
	height: 50%;
	/* margin-top: 50%; */
	position: relative;
	margin-top: 15px;
}

.final-img {
	width: 100%;
	height: 50%;
	position: relative;
}

.text-content {
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	text-transform: uppercase;
}

.bar-content {
	cursor: pointer;
	color: white;
	margin: 0.3em auto;
	height: 30px;
}

.bar-element {
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 50%;
	transform: translate(-50%,0%);
}